<Settings>
	<WindowWidth>900</WindowWidth>
	<VSync>false</VSync>
	<Pause_Game>131</Pause_Game>
	<Move_Forward>51</Move_Forward>
	<Fullscreen>false</Fullscreen>
	<Move_Left>29</Move_Left>
	<Move_Right>32</Move_Right>
	<WindowHeight>700</WindowHeight>
	<Shoot>62</Shoot>
	<Rotate_Block>45</Rotate_Block>
	<Move_Back>47</Move_Back>
</Settings>
