## Game Data
game_data/**

## Java

*.class
*.war
*.ear
hs_err_pid*

## Robovm
/ios/robovm-build/

## Android Studio and Intellij and Android in general

.idea/
*.ipr
*.iws
*.iml
com_crashlytics_export_strings.xml

## Eclipse

.classpath
.project
.metadata/
/server/bin/
/core/bin/
/client/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/nbproject/private/
/client/nbproject/private/
/core/nbproject/private/
/server/nbproject/private/

/build/
/server/build/
/core/build/
/client/build/
/html/build/
/ios/build/
/ios-moe/build/

/nbbuild/
/server/nbbuild/
/core/nbbuild/
/client/nbbuild/
/html/nbbuild/
/ios/nbbuild/
/ios-moe/nbbuild/

/dist/
/server/dist/
/core/dist/
/client/dist/
/html/dist/
/ios/dist/
/ios-moe/dist/

/nbdist/
/server/nbdist/
/core/nbdist/
/client/nbdist/
/html/nbdist/
/ios/nbdist/
/ios-moe/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-app.setting
/build/
/server/build/
/core/build/
/client/build/
/html/build/
/ios/build/
/ios-moe/build/

## OS Specific
.DS_Store
Thumbs.db

## iOS
/ios/xcode/*.xcodeproj/*
!/ios/xcode/*.xcodeproj/xcshareddata
!/ios/xcode/*.xcodeproj/project.pbxproj
/ios/xcode/native/
/ios/IOSLauncher.app
/ios/IOSLauncher.app.dSYM

/ios-moe/xcode/*.xcodeproj/*
!/ios-moe/xcode/*.xcodeproj/xcshareddata
!/ios-moe/xcode/*.xcodeproj/project.pbxproj
/ios-moe/xcode/native/
